nav.navbar
  .container.nav-wrapper 
    a.logo(href="#")
      img(src="./assets/images/logo.svg")
    ul.nav-menu 
      li 
        a(href="#") Menu
      li 
        a(href="#") Recipes
      li 
        a(href="#") Chefs
      li 
        a(href="#") Contacts
