section
  .container 
    .about
      .title.no-line
        .title-shadow ABOUT
        .title-main The Basics Of Healthy Food
      p.about__text 
        | In aliqua ea ullamco ad est ex non deserunt nulla. Consectetur sint ea aliquip aliquip consectetur voluptate est. Eu minim dolore laboris enim mollit voluptate irure esse aliquip.
      .about__slider 
