section 
  .container 
    .chefs   
      .title 
        .title-shadow CHEFS
        .title-main This Month's chefs
      .chefs-items 
        .chefs-item(href="#")
          a.chefs-item__info
            img.chefs-item__avatar(src="./assets/images/chefs/avatar-1.png", alt="")
            .chefs-item__box 
             p.chefs-item__name Gregory Flores
             p.chefs-item__position Chef of the
          .chefs-item__images 
            img.chefs-item__img(src="./assets/images/chefs/1-1.png", alt="")
            img.chefs-item__img(src="./assets/images/chefs/1-2.png", alt="")
            img.chefs-item__img(src="./assets/images/chefs/1-3.png", alt="")
        .chefs-item(href="#")
          a.chefs-item__info
            img.chefs-item__avatar(src="./assets/images/chefs/avatar-2.png", alt="")
            .chefs-item__box
              p.chefs-item__name Annette Cooper
              p.chefs-item__position Chef of the hot
          .chefs-item__images 
            img.chefs-item__img(src="./assets/images/chefs/2-1.png", alt="")
            img.chefs-item__img(src="./assets/images/chefs/2-2.png", alt="")
            img.chefs-item__img(src="./assets/images/chefs/2-3.png", alt="")
        .chefs-item(href="#")
          a.chefs-item__info
            img.chefs-item__avatar(src="./assets/images/chefs/avatar-3.png", alt="")
            .chefs-item__box
              p.chefs-item__name Greg Fox
              p.chefs-item__position Ğ¡hef macro kitchen
          .chefs-item__images 
            img.chefs-item__img(src="./assets/images/chefs/3-1.png", alt="")
            img.chefs-item__img(src="./assets/images/chefs/3-2.png", alt="")
            img.chefs-item__img(src="./assets/images/chefs/3-3.png", alt="")

