section 
  .container 
    .dishes  
      .title 
        .title-shadow DISHES
        .title-main Dish Of The Day
      .dishes-cards 

        .dishes-card
          img.dishes-img(src="../assets/images/dishes-images/1.png", alt="")
          a.dishes-link(href="")
            img.dishes-arrow(src="../assets/images/link-arrow.png", alt="")
          .dishes-info 
            h4.dishes-title Featured Meal
            p.dishes-subtitle Served with french fries + drink
            p.dishes-text Choice of: Coke, Fanta, Sprite, Upgrade to  large fries, Add whopper patty, Add Tender crisp patty and more...
            .dishes-rating 
              .dishes-rating__stars 
              .dishes-rating__num 12
              a.btn.btn--primary ORDER

        .dishes-card
          img.dishes-img(src="../assets/images/dishes-images/2.png", alt="")
          a.dishes-link(href="")
            img.dishes-arrow(src="../assets/images/link-arrow.png", alt="")
          .dishes-info 
            h4.dishes-title Featured Meal
            p.dishes-subtitle Served with french fries + drink
            p.dishes-text Choice of: Coke, Fanta, Sprite, Upgrade to large fries, Add whopper patty, Add Tender crisp patty and more...
            .dishes-rating 
              .dishes-rating__stars 
              .dishes-rating__num 12
              a.btn.btn--primary ORDER

        .dishes-card
          img.dishes-img(src="../assets/images/dishes-images/3.png", alt="")
          a.dishes-link(href="")
            img.dishes-arrow(src="../assets/images/link-arrow.png", alt="")
          .dishes-info 
            h4.dishes-title Featured Meal
            p.dishes-subtitle Served with french fries + drink
            p.dishes-text Choice of: Coke, Fanta, Sprite, Upgrade to large fries, Add whopper patty, Add Tender crisp patty and more...
            .dishes-rating 
              .dishes-rating__stars 
              .dishes-rating__num 12
              a.btn.btn--primary ORDER

        .dishes-card
          img.dishes-img(src="../assets/images/dishes-images/4.png", alt="")
          a.dishes-link(href="")
            img.dishes-arrow(src="../assets/images/link-arrow.png", alt="")
          .dishes-info 
            h4.dishes-title Featured Meal
            p.dishes-subtitle Served with french fries + drink
            p.dishes-text Choice of: Coke, Fanta, Sprite, Upgrade to large fries, Add whopper patty, Add Tender crisp patty and more...
            .dishes-rating 
              .dishes-rating__stars 
              .dishes-rating__num 12
              a.btn.btn--primary ORDER

        .dishes-card
          img.dishes-img(src="../assets/images/dishes-images/5.png", alt="")
          a.dishes-link(href="")
            img.dishes-arrow(src="../assets/images/link-arrow.png", alt="")
          .dishes-info   
            h4.dishes-title Featured Meal
            p.dishes-subtitle Served with french fries + drink
            p.dishes-text Choice of: Coke, Fanta, Sprite, Upgrade to large fries, Add whopper patty, Add Tender crisp patty and more...
            .dishes-rating 
              .dishes-rating__stars 
              .dishes-rating__num 12
              a.btn.btn--primary ORDER

        .dishes-card
          img.dishes-img(src="../assets/images/dishes-images/6.png", alt="")
          a.dishes-link(href="")
            img.dishes-arrow(src="../assets/images/link-arrow.png", alt="")
          .dishes-info 
            h4.dishes-title Featured Meal
            p.dishes-subtitle Served with french fries + drink
            p.dishes-text Choice of: Coke, Fanta, Sprite, Upgrade to large fries, Add whopper patty, Add Tender crisp patty and more...
            .dishes-rating 
              .dishes-rating__stars 
              .dishes-rating__num 12
              a.btn.btn--primary ORDER