.main 
  .container 
    .main-content
      h1.main-title
        | Your #[b favourite food]
        br
        | delivered #[b hot & fresh]
      p.main-text 
        | HEALTHY SWITCHER chefs do all the prep work, like peeling, chopping &   marinating, so you can   cook a fresh homemade dinner in just 15 minutes.
      a.btn.btn--primary.btn--large(href="")
        | Order Now  
      .contacts 
        .contacts-item 
          img.contacts-item__icon(src="./assets/images/icons/icon-time.svg")
          p.contacts-item__info 
            | Today 10:00 am - 7:00 pm
          p.contacts-item__text 
            | Working hours
        .contacts-item 
          img.contacts-item__icon(src="./assets/images/icons/icon-arrow.svg")
          p.contacts-item__info 
            | Velyka Vasylkivska 100
          p.contacts-item__text 
            | Get Directions
        .contacts-item 
          img.contacts-item__icon(src="./assets/images/icons/icon-phone.svg")
          p.contacts-item__info 
            | +38 (063)833 24 15
          p.contacts-item__text 
            | Call Online
