section 
  .container 
    .recipes    
      .title 
        .title-shadow RECIPES
        .title-main Recipes From Our Chefs
      .recipes-inner 

        .recipes-main 
          a.arrow-left(href="./assets/images/icons/arrow-left.svg") 
          a.recipes-main__event breakfast
          p.recipes-main__date 05 Jul 2016
          p.recipes-main__text Lorem ipsum dolor sit amet,      consectetur adipiscing elit
          p.recipes-main__author Jason Keller
          .stats-main
            .stats-main__item 
              img.stats-item__view(src="./assets/images/icons/eye-icon.svg") 
              .stats-item__num 275
            .stats-main__item 
              img.stats-item__comments(src="./assets/images/icons/comments-icon.svg")
              .stats-item__num 12

        .recipes-column 
          .recipes-item 
            .recipes-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            .recipes-item__bottom 
              .recipes-item__detail 
                a.recipes-event lunch
                p.recipes-item__date 07 Jan 2016
              .stats-items 
                .stats-item 
                  img.stats-item__view(src="./assets/images/icons/eye-icon.svg") 
                  .stats-item__num 275
                .stats-item 
                  img.stats-item__comments(src="./assets/images/icons/comments-icon.svg")
                  .stats-item__num 12
          .recipes-item.recipes-item-bg
            .recipes-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            .recipes-item__bottom 
              .recipes-item__detail 
                a.recipes-event dinner
                p.recipes-item__date 07 Jan 2016
              .stats-items
                .stats-item 
                  img.stats-item__view(src="./assets/images/icons/eye-icon.svg") 
                  .stats-item__num 275
                .stats-item 
                  img.stats-item__comments(src="./assets/images/icons/comments-icon.svg")
                  .stats-item__num 12
          .recipes-item 
            .recipes-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            .recipes-item__bottom 
              .recipes-item__detail 
                a.recipes-event sweets
                p.recipes-item__date 07 Jan 2016
              .stats-items
                .stats-item 
                  img.stats-item__view(src="./assets/images/icons/eye-icon.svg") 
                  .stats-item__num 275
                .stats-item 
                  img.stats-item__comments(src="./assets/images/icons/comments-icon.svg")
                  .stats-item__num 12