section 
  .container 
    .work 
      .title 
        .title-shadow WORK
        .title-main How It Works
      .work-items 
        .work-item 
          .work-item__title Pick meals
          .work-item__text Choose your meals from our diverse weekly menu. Find gluten or dairy free, low carb & veggie options.
        .work-item 
          .work-item__title Choose how often
          .work-item__text Our team of chefs do the prep work - no more chopping, measuring, or sink full of dishes!
        .work-item 
          .work-item__title Fast Deliveries
          .work-item__text Your freshly prepped 15-min dinner kits arrive on your doorstep in a refrigerated box.
        .work-item 
          .work-item__title Tasty Meals
          .work-item__text Gobble makes cooking fast, so you have more time to unwind and be with family.