<!DOCTYPE html>
html(lang="en")
  head
    include ./includes/head
    title Healthy Food Page
  body

    include ./includes/navbar
    include ./sections/main
    include ./sections/about
    include ./sections/work
    include ./sections/dishes
    include ./sections/chefs
    include ./sections/recipes
    
    

    //- include ./includes/header
    //- content
    //-   h1 Main Page
    //-   p#greeting Loading ...
    
    //- include ./includes/footer
    script(src="./assets/js/bundle.js")
